@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Poppins:ital,wght@1,900&display=swap');



* {
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
}
.nav {
    display: flex;
    gap: 20px;
}

#page {
    position: absolute;
    top: 100px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}
.sec {
    background-image: radial-gradient(white 50%,rgb(255, 255, 168), rgb(255, 222, 228) );
}
h1 {
    font-family: 'Outfit', sans-serif;
    
}
h1 span{
    font-family: 'Outfit', sans-serif;
    
}
h4 {
    font-family: 'Outfit', sans-serif;
    
}
h5 {
font-family: 'Outfit', sans-serif;
    
}
#orgbtn {
    background-color: rgb(250, 79, 61);
    color: white;
}
#bgrd {
    height:500px;
    background-image: linear-gradient(bottom left to top right, red, blue);
    background-color: aqua; 
}
#act {
    color: rgb(250, 79, 61);   
}
#non-act {
    color: black;
}
span {
    color: rgb(250, 79, 61);
}
#b {
    border: 1px solid rgb(250, 79, 61);
    color: rgb(250, 79, 61);
}
/*#hum {
    position: relative;
}*/
.sec-hum {
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 100px;
}
#hum li {
    
    list-style-type: none;
}
#hum li img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
    /*position: absolute;
    left: 200px;
}
#hum1 {
    top: 200px;
    background: url("images.jpg")-5px -5px;
}*/

#abc1 {

    background-color: rgb(252, 209, 198);
    color: rgb(250, 79, 61);
}
.b-stl {
    border: 1px solid white;
    border-radius: 40px; 
    box-shadow: 1px 10px grey;
} 
.b-stl:hover {
    border: 1px solid white;
    border-radius: 40px; 
    box-shadow: 1px 10px yellow;
} 
#orgpage {
    border: 1px solid rgb(249, 79, 61);
    width: 80%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 50px;
    position: relative;
}
#sec-5-btn {
    display: flex;
    gap: 30px;
   
    button {
        height: 80px;
        width: 200px;
    }
}
#sec-5-img {
    height: 400px;
    position: absolute;
    bottom: 60px;
    right: 30px;
}
footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: white;
}
#fotr-div-2 {
    display: flex;
    flex-direction: row;
    gap: 70px;

}
@media (max-width: 990px) {
    #orgpage {
        width: 90%;
        padding: 50px;
    }
    #sec-5-img {
        visibility: hidden;
    }
}
